<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary"
                       defaultHref="/{{PageRoutes.PROFILE}}/{{PageRoutes.ACCOUNT_AND_SECURITY}}">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ TranslateKeys.TITLE_CHANGE_PASSWORD | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-page-bg-light" [fullscreen]="true">
  <div class="m-3 py-4 px-3 rounded-xl bg-gray-50 dark:bg-gray-800" *ngIf="passwordForm">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <!-- Current Password -->
        <ion-row>
          <ion-col>
            <ion-label position="stacked">
              {{ TranslateKeys.TITLE_PASSWORD | translate }}<span class="text-red-600 ps-1">*</span>
            </ion-label>
            <ion-input formControlName="currentPassword" type="password" inputmode="text">
              <ion-input-password-toggle slot="end" color="primary"></ion-input-password-toggle>
            </ion-input>
            <div *ngIf="hasError('currentPassword', 'required')" class="error-text text-red-600 text-sm pt-2 ps-1">
              {{ TranslateKeys.VALIDATE_PASS_REQUIRED | translate }}
            </div>
          </ion-col>
        </ion-row>

        <!-- New Password -->
        <ion-row>
          <ion-col>
            <ion-label position="stacked">
              {{ TranslateKeys.TITLE_NEW_PASSWORD | translate }}<span class="text-red-600 ps-1">*</span>
            </ion-label>
            <ion-input formControlName="newPassword" type="password" inputmode="text">
              <ion-input-password-toggle slot="end" color="primary"></ion-input-password-toggle>
            </ion-input>
            <div *ngIf="hasError('newPassword', 'required')" class="error-text text-red-600 text-sm pt-2 ps-1">
              {{ TranslateKeys.VALIDATE_NEW_PASS_REQUIRED | translate }}
            </div>
            <div *ngIf="hasError('newPassword', 'minlength')" class="error-text text-red-600 text-sm pt-2 ps-1">
              {{ TranslateKeys.VALIDATE_PASS_MIN_LENGTH | translate }}
            </div>
          </ion-col>
        </ion-row>

        <!-- Confirm Password -->
        <ion-row>
          <ion-col>
            <ion-label position="stacked">{{ TranslateKeys.TITLE_CONFIRM_PASSWORD | translate }}<span
              class="text-red-600 ps-1">*</span></ion-label>
            <ion-input formControlName="confirmPassword" type="password" inputmode="text">
              <ion-input-password-toggle slot="end" color="primary"></ion-input-password-toggle>
            </ion-input>
            <div *ngIf="hasError('confirmPassword', 'required')" class="error-text text-red-600 text-sm pt-2 ps-1">
              {{ TranslateKeys.VALIDATE_CONFIRM_PASS_REQUIRED | translate }}
            </div>
            <div *ngIf="hasError('confirmPassword', 'passwordMismatch')"
                 class="error-text text-red-600 text-sm pt-2 ps-1">
              {{ TranslateKeys.VALIDATE_PASS_MATCH | translate }}
            </div>
          </ion-col>
        </ion-row>

        <!-- Submit Button -->
        <ion-row>
          <ion-col>
            <ion-button expand="block" type="submit">
              {{ TranslateKeys.BUTTON_UPDATE | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
