ion-header {
  --background: none;

  ion-toolbar {
    --background: transparent;
    --border-width: 0;

    ion-back-button {
      --color: #ffffff;
    }
  }

  ion-segment {
    --background: #ffffff;

    ion-segment-button {
      --indicator-color: var(--ion-color-success);
      --color: #333333;
      --color-checked: #ffffff;
    }

    ion-segment-button::part(indicator) {
      color: #333333;
    }
  }

  ion-searchbar {
    --background: rgba(255, 255, 255, 0.7);
    --box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
    --color: #333333;
    --icon-color: #333333;
    --placeholder-color: #333333;
    --clear-button-color: #858585;
  }
}
