<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary" defaultHref="/{{PageRoutes.PROFILE}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ TranslateKeys.TITLE_ACCOUNT_AND_SECURITY | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-page-bg-light" [fullscreen]="true">
  <!-- Thông tin cá nhân -->
  <ion-list class="my-2" *ngIf="authData">
    <ion-item lines="none" detail="false" routerLink="/{{PageRoutes.PROFILE}}/{{PageRoutes.PERSONAL_INFO}}"
              class="m-3 border border-solid border-gray-400 rounded-2xl dark:border-gray-200">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="Silhouette of a person's head" [src]="authData.avatar" *ngIf="authData.avatar"/>
        <img alt="Silhouette of a person's head" src="../../../../../assets/icons/svg/avatar.svg" *ngIf="!authData.avatar"/>
      </ion-avatar>
      <ion-label class="py-2">
        <ng-container *ngIf="authData.nickname">{{ authData.nickname }}<br></ng-container>
        <ng-container *ngIf="!authData.nickname">{{ TranslateKeys.TITLE_NOT_SET_NICKNAME | translate }}<br></ng-container>
        <span class="text-sm text-gray-500 italic dark:text-gray-400"> {{ TranslateKeys.TITLE_PERSONAL_INFO | translate }}</span>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
    </ion-item>

    <!--  Phone  -->
    <ion-item detail="false">
      <ion-icon name="call" slot="start" color="primary" class="text-xl"></ion-icon>
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_PHONE | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="authData.phone"> {{ authData.phone }} &nbsp;</span>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="!authData.phone"> {{ TranslateKeys.TITLE_NOT_SET | translate }}</span>
      </ion-label>
    </ion-item>

    <!--  Mail  -->
    <ion-item detail="false">
      <ion-icon name="mail" slot="start" color="primary" class="text-xl"></ion-icon>
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_EMAIL | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="authData.email"> {{ authData.email }} &nbsp;</span>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="!authData.email"> {{ TranslateKeys.TITLE_NOT_SET | translate }} &nbsp;</span>
      </ion-label>
    </ion-item>

    <!--  Birthday  -->
    <ion-item lines="none" detail="false">
      <ion-icon name="calendar" slot="start" color="primary" class="text-xl"></ion-icon>
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_BIRTHDAY | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400">{{ TranslateKeys.TITLE_NOT_SET | translate }}</span>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Bảo mật tài khoản -->
  <ion-list class="my-2">
    <!--  Mã khóa ứng dụng  -->
    <ion-item detail="false" routerLink="/{{PageRoutes.PROFILE}}/{{PageRoutes.APP_LOCK_SETTINGS}}">
      <ion-icon name="lock-closed" slot="start" color="primary" class="text-xl"></ion-icon>
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_LOCK_APP | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400">
          {{ (isAppLockEnabled ? TranslateKeys.TITLE_ON : TranslateKeys.TITLE_OFF) | translate }}
        </span>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
    </ion-item>

    <!--  Cho phép đăng nhập bằng biometric  -->
    <ion-item detail="false" *ngIf="biometricAvailable?.isAvailable">
      <ion-icon name="finger-print" slot="start" color="primary" class="text-xl"></ion-icon>
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_LOGIN_BY_BIOMETRIC | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400">
          {{ (enableBiometric ? TranslateKeys.TITLE_ON : TranslateKeys.TITLE_OFF) | translate }}
        </span>
      </ion-label>
      <ion-toggle mode="ios" slot="end" [enableOnOffLabels]="true"
                  [checked]="enableBiometric" (ionChange)="toggleBiometric($event)">
      </ion-toggle>
    </ion-item>

    <!--  Đổi mật khẩu  -->
    <ion-item detail="false" lines="none" routerLink="/{{PageRoutes.PROFILE}}/{{PageRoutes.CHANGE_PASSWORD}}">
      <ion-icon name="key" slot="start" color="primary" class="text-xl"></ion-icon>
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_CHANGE_PASSWORD | translate }}<br>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

