.font-comic-sans {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

ion-textarea {
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --background: transparent;
  --background-hover: rgba(0, 0, 0, 0.04);
  --background-activated: transparent;
  --background-focused: transparent;
  --background-activated-opacity: 0;
  --background-focused-opacity: 0;
  --background-hover-opacity: 0;
  --ripple-color: transparent;
  --detail-icon-opacity: 0;
  --border-color: transparent;
}

ion-button {
  --border-radius: 9999px;
  --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --background: #22aff7;
  --color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  height: 48px;
}

ion-footer {
  --padding-bottom: env(safe-area-inset-bottom) !important;

  ion-toolbar {
    --padding-start: 0;
    --padding-end: 0;
    --background: white;
    --border-color: #e5e7eb;
  }
}

.shadow-blue-button {
  --background: #22aff7;
  --background-activated: #22aff7;
  --background-focused: #22aff7;
  --background-hover: #22aff7;
  --color: #fffbfa;
  --border-color: #22aff7;
  --box-shadow: 0 4px 0 #1a97d4;
}

.active\:shadow-blue-button-active:active {
  --box-shadow: 0 6px 10px rgba(34, 175, 247, 0.4);
}
