<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary" defaultHref="/{{PageRoutes.PROFILE}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ TranslateKeys.TITLE_THEME_AND_BACKGROUND | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-page-bg-light" [fullscreen]="true">
  <ion-list class="mt-2 mb-8" *ngIf="themeSettings">
    <!--  Giao diện  -->
    <ion-item detail="false" (click)="onClickSwitchTheme()">
      <ion-icon *ngIf="themeSettings.theme_model === Theme.SYSTEM" name="settings" slot="start" color="primary" class="text-xl"></ion-icon>
      <ion-icon *ngIf="themeSettings.theme_model === Theme.LIGHT" name="sunny" slot="start" color="primary" class="text-xl"></ion-icon>
      <ion-icon *ngIf="themeSettings.theme_model === Theme.DARK" name="moon" slot="start" color="primary" class="text-xl"></ion-icon>
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_THEME | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="themeSettings.theme_model === Theme.LIGHT">{{ TranslateKeys.TITLE_THEME_LIGHT | translate }}</span>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="themeSettings.theme_model === Theme.DARK">{{ TranslateKeys.TITLE_THEME_DARK | translate }}</span>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="themeSettings.theme_model === Theme.SYSTEM">{{ TranslateKeys.TITLE_THEME_SYSTEM | translate }}</span>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
    </ion-item>

    <!--  Cỡ chữ  -->
    <ion-item detail="false" (click)="onClickSwitchTextSize()">
      <ion-icon name="text" slot="start" color="primary" class="text-xl"></ion-icon>
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_TEXT_SIZE | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="themeSettings.text_size === TextZoomSize.SMALL">{{ TranslateKeys.TITLE_TEXT_SIZE_SMALL | translate }}</span>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="themeSettings.text_size === TextZoomSize.MEDIUM">{{ TranslateKeys.TITLE_TEXT_SIZE_MEDIUM | translate }}</span>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="themeSettings.text_size === TextZoomSize.LARGE">{{ TranslateKeys.TITLE_TEXT_SIZE_LARGE | translate }}</span>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="themeSettings.text_size === TextZoomSize.BIG_SIZE">{{ TranslateKeys.TITLE_TEXT_SIZE_BIG_SIZE | translate }}</span>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
    </ion-item>

    <!--  Avatar  -->
    <ion-item detail="false" (click)="onClickWallpapers()">
      <ion-icon name="happy" slot="start" color="primary" class="text-xl"></ion-icon>
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_AVATAR | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="selectedAvatar">{{ selectedAvatar.name }}</span>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="!selectedAvatar">{{ TranslateKeys.TITLE_DEFAULT | translate }}</span>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
    </ion-item>

    <!--  Hình nền  -->
    <ion-item lines="none" detail="false" (click)="onClickWallpapers(true)">
      <ion-icon name="images" slot="start" color="primary" class="text-xl"></ion-icon>
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_BACKGROUND | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="selectedBackground">{{ selectedBackground.name }}</span>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="!selectedBackground">{{ TranslateKeys.TITLE_DEFAULT | translate }}</span>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
