ion-toolbar.home-toolbar {
  --border-width: 0;
  --background: #ffffff;
  --padding-start: 0;
  --padding-end: 0;
}

:host-context(.dark) ion-toolbar.home-toolbar {
  --background: var(--ion-backdrop-color);
}

ion-progress-bar.task-progress {
  --progress-background: #53ad0d;
  --background: #e0e0e0;
}

.task-item {
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
}

.task-button {
  --background: #e1f3fd;
  --color: #283a46;
  --border-radius: 20px;
  --border-color: #e1f3fd;
  --padding-start: 15px;
  --padding-end: 15px;
}
