
.font-comic-sans {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

ion-radio::part(container) {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 20px;
  visibility: visible !important;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

.radio-checked.ios::part(container) {
  border-color: #fffbfa;
}

ion-radio.radio-checked::part(container) {
  background: #59cb01;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 9px;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fffbfa;
  transform: rotate(45deg);
  margin-bottom: 3px;
}

.option-item {
  --background-activated: unset;
  --color-activated: unset;

  &.selected-item {
    --background: #59cb01;
    color: #fffbfa;
  }
}

.shadow-blue-button {
  --background: #22aff7;
  --background-activated: #22aff7;
  --background-focused: #22aff7;
  --background-hover: #22aff7;
  --color: #fffbfa;
  --border-color: #22aff7;
  --box-shadow: 0 4px 0 #1a97d4;
}

.active\:shadow-blue-button-active:active {
  --box-shadow: 0 6px 10px rgba(34, 175, 247, 0.4);
}
