.font-comic-sans {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

ion-radio::part(container) {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 20px;
  visibility: visible !important;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

.radio-checked.ios::part(container) {
  border-color: #fffbfa;
}

ion-radio.radio-checked::part(container) {
  background: #59cb01;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: white;
  transform: rotate(45deg);
}

.selected-item {
  --background: #59cb01 !important;
  --color: white !important;
}

ion-item.option-item {
  --background: transparent;
  --background-hover: rgba(0, 0, 0, 0.04);
  --background-activated: transparent;
  --background-focused: transparent;
  --background-activated-opacity: 0;
  --background-focused-opacity: 0;
  --background-hover-opacity: 0;
  --ripple-color: transparent;
  --detail-icon-opacity: 0;
  --border-color: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
}

.shadow-blue-button {
  --background: #22aff7;
  --background-activated: #22aff7;
  --background-focused: #22aff7;
  --background-hover: #22aff7;
  --color: #fffbfa;
  --border-color: #22aff7;
  --box-shadow: 0 4px 0 #1a97d4;
}

.active\:shadow-blue-button-active:active {
  --box-shadow: 0 6px 10px rgba(34, 175, 247, 0.4);
}
