<ion-content [fullscreen]="true" class="native-padding-content custom-page-bg-light">
  <ng-container *ngIf="authData">
    <!--  Avatar, tên, trang cá nhân  -->
    <ion-list class="mb-2">
      <ion-item lines="none" detail="false" routerLink="/{{PageRoutes.PERSONAL_DIARY}}">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="Silhouette of a person's head" [src]="getUserAvatarImage()"/>
        </ion-avatar>
        <ion-label>
          <ng-container *ngIf="authData.nickname">{{ authData.nickname }}<br></ng-container>
          <ng-container *ngIf="!authData.nickname">{{ TranslateKeys.TITLE_NOT_SET_NICKNAME | translate }}<br></ng-container>
          <span class="text-sm text-gray-500 italic dark:text-gray-400">{{ TranslateKeys.TITLE_VIEW_PROFILE_PAGE | translate }}</span>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
    </ion-list>

    <!--  Bộ sưu tập huy chương, trang gia đình, nhóm lớp  -->
    <ion-list class="mb-2">
      <ion-item detail="false" routerLink="/{{PageRoutes.BADGE_COLLECTION}}">
        <ion-icon name="ribbon" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2 text-gray-500">{{ TranslateKeys.TITLE_BADGE_COLLECTION | translate }}</ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
      <ion-item detail="false" routerLink="/{{PageRoutes.FAMILY_GROUP}}">
        <ion-icon name="heart" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2 text-gray-500">{{ TranslateKeys.TITLE_FAMILY_PAGE | translate }}</ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
      <ion-item detail="false" routerLink="/{{PageRoutes.CLASS_GROUP}}">
        <ion-icon name="easel" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2 text-gray-500">{{ TranslateKeys.TITLE_CLASS_GROUP | translate }} 7A3</ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
      <ion-item lines="none" detail="false" routerLink="/{{PageRoutes.SCHOOL_GROUP}}">
        <ion-icon name="business" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2 text-gray-500"> {{ TranslateKeys.TITLE_SCHOOL_GROUP | translate }}</ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
    </ion-list>

    <!--  Âm thanh, hình ảnh, thông báo, ngôn ngữ  -->
    <ion-list class="mb-2">
      <ion-item [routerLink]="PageRoutes.THEME_AND_BACKGROUND" detail="false">
        <ion-icon name="color-palette" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2">{{ TranslateKeys.TITLE_THEME_AND_BACKGROUND | translate }}</ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
      <ion-item [routerLink]="PageRoutes.NOTIFICATION_AND_SOUND" detail="false">
        <ion-icon name="notifications" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2">{{ TranslateKeys.TITLE_NOTIFICATION_AND_SOUND | translate }}</ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
      <ion-item lines="none" detail="false" (click)="onClickSwitchLanguage()">
        <ion-icon name="globe-outline" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2">
          {{ TranslateKeys.TITLE_LANGUAGE | translate }}<br>
          <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="currentLang === LanguageKeys.VN">{{ TranslateKeys.COMMON_VIETNAMESE | translate }}</span>
          <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="currentLang === LanguageKeys.EN">{{ TranslateKeys.COMMON_ENGLISH | translate }}</span>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
    </ion-list>

    <!--  Bảo mật tài khoản  -->
    <ion-list class="mb-2">
      <ion-item [routerLink]="PageRoutes.ACCOUNT_AND_SECURITY" detail="false">
        <ion-icon name="shield-half" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2">{{ TranslateKeys.TITLE_ACCOUNT_AND_SECURITY | translate }}</ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
      <ion-item [routerLink]="PageRoutes.PRIVACY_RIGHTS" detail="false" class="hidden">
        <ion-icon name="lock-closed" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2">{{ TranslateKeys.TITLE_PRIVACY_RIGHTS | translate }}</ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
      <ion-item lines="none" (click)="authService.logout()" detail="false">
        <ion-icon name="log-out-outline" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2">{{ TranslateKeys.TITLE_LOGOUT | translate }}</ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
    </ion-list>

    <!--  Chính sách, hỗ trợ  -->
    <ion-list class="mb-2">
      <ion-item detail="false" lines="none" (click)="onClickUpdateApp()" *ngIf="platform.is(NativePlatform.CAPACITOR)">
        <ion-icon name="cog" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2">
          {{ TranslateKeys.TITLE_APP_UPDATE | translate }}<br>
          <span class="text-sm text-gray-500 italic dark:text-gray-400">{{ TranslateKeys.TITLE_VERSION | translate }}: {{ currentAppVersion }}</span>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
      <ion-item [routerLink]="PageRoutes.REPORT_PROBLEMS" detail="false" class="hidden">
        <ion-icon name="warning" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2">{{ TranslateKeys.TITLE_REPORT_PROBLEMS | translate }}</ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
      <ion-item [routerLink]="PageRoutes.CONTACT_AND_SUPPORT" detail="false" class="hidden">
        <ion-icon name="help-circle" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2">{{ TranslateKeys.TITLE_CONTACT_AND_SUPPORT | translate }}</ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
      <ion-item [routerLink]="PageRoutes.TERMS_AND_POLICIES" lines="none" detail="false" class="hidden">
        <ion-icon name="document-text" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2">{{ TranslateKeys.TITLE_TERMS_AND_POLICIES | translate }}</ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
<app-footer></app-footer>
