<app-header
  [pageTitle]="TranslateKeys.DAILY_EMOTION_JOURNAL_ADD_ENTRY"
  backgroundColor="linear-gradient(to bottom, #9333ea, #4c1d95)"
  defaultBackHref="/daily-emotion-journal">
</app-header>

<ion-content [fullscreen]="true" class="font-comic-sans custom-page-bg-light" [style]="{'--padding-bottom': '70px'}">
  <div class="p-4 pb-20"> <!-- Added pb-20 for extra padding at bottom -->
    <!-- Emotion Icon Selector Component -->
    <app-emotion-icon-selector
      [emotionIcons]="emotionIcons"
      [selectedEmotionIcon]="selectedEmotionIcon"
      (emotionSelected)="onEmotionSelected($event)">
    </app-emotion-icon-selector>

    <!-- Emotion Share Component -->
    <app-emotion-share
      [emotionIcon]="selectedEmotionIcon"
      [availableShareTargets]="availableShareTargets"
      (shareEmotion)="onShareEmotion($event)">
    </app-emotion-share>
  </div>
</ion-content>

<ion-footer class="ion-no-border fixed-footer">
  <ion-toolbar>
    <div class="p-2">
      <ion-button expand="block" (click)="save()" class="w-full bg-blue-500 text-white font-comic-sans uppercase rounded-lg shadow-md">
        {{ 'BUTTON_TITLES.save_changes' | translate }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
