.native-padding-content {
  --padding-top: env(safe-area-inset-top) !important;
  --padding-bottom: env(safe-area-inset-bottom) !important;
  --padding-left: env(safe-area-inset-left) !important;
  --padding-right: env(safe-area-inset-right) !important;
  padding-top: env(safe-area-inset-top) !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
  padding-left: env(safe-area-inset-left) !important;
  padding-right: env(safe-area-inset-right) !important;
}

.selected-button {
  font-weight: bold;
  color: var(--ion-color-primary);
}

/*---------------------- Lock screen ---------------------*/
.ios-lock-screen {
  background: #959595;
  padding: 20px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.dark .ios-lock-screen {
  background: var(--ion-backdrop-color);
}

.ios-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #6b7280;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 500;
  color: white;
}

@keyframes float-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.float-animation {
  animation: float-up-down 2s infinite ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 2s infinite;
}

@keyframes intense-shake-zoom {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(-8deg) scale(1.1);
  }
  20% {
    transform: rotate(8deg) scale(1.3);
  }
  30% {
    transform: rotate(-8deg) scale(1.1);
  }
  40% {
    transform: rotate(8deg) scale(1);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.intense-shake-zoom {
  animation: intense-shake-zoom 1s infinite ease-in-out;
  transform-origin: center;
}

/*-------------- Date time picker -------------*/
ion-modal.select-date-modal {
  --background: transparent !important;
}

ion-modal.select-date-modal ion-content {
  background: #0000003D;
  --offset-top: 100 !important;
  --offset-bottom: 0px !important;
}
