<ion-content [fullscreen]="true">
  <div *ngIf="deviceHeight" [style.min-height]="deviceHeight"
       class="flex relative w-full bg-[url(assets/images/login-background.png)] native-padding-content bg-bottom bg-no-repeat bg-cover">
    <!-- Chuyển đổi ngôn ngữ -->
    <div class="switch-lang-container absolute top-3 right-3 p-0 bg-gray-200 rounded-full" *ngIf="defaultLang">
      <ion-select interface="action-sheet" class="switch-lang" mode="ios" (ionChange)="switchLanguage($event.detail.value)"
                  [value]="defaultLang" cancelText="{{ TranslateKeys.BUTTON_CANCEL | translate }}">
        <ion-select-option [value]="LanguageKeys.EN">{{ TranslateKeys.COMMON_ENGLISH | translate }}</ion-select-option>
        <ion-select-option [value]="LanguageKeys.VN">{{ TranslateKeys.COMMON_VIETNAMESE | translate }}</ion-select-option>
      </ion-select>
    </div>

    <!-- Form đăng nhập -->
    <ng-container *ngIf="loginForm && isReady">
      <form class="w-full mt-6 login-form" [formGroup]="loginForm" (submit)="onClickLogin()">
        <ion-grid>
          <ion-row>
            <!-- App logo -->
            <ion-col size="12" class="ion-text-center">
              <ion-img class="w-[40%] mx-auto px-3" src="assets/images/app-logo.png"></ion-img>
              <h1 class="pt-3 pb-8 text-lg text-sky-900 font-bold">{{ TranslateKeys.COMMON_APP_NAME | translate }}</h1>
            </ion-col>

            <!-- Login form content -->
            <ion-col size="12">
              <div class="w-full px-5 py-6 bg-gray-100/20 border border-solid border-gray-400 rounded-[20px]">
                <ion-row>
                  <!-- Nhập tên tài khoản -->
                  <ion-col size="12" class="pb-5">
                    <ion-label>{{ TranslateKeys.TITLE_ACCOUNT | translate }}<span class="text-red-600 ps-1">*</span></ion-label>
                    <ion-input formControlName="username" type="text" inputmode="text" required="required" (ionInput)="onUsernameInput($event)"
                               (ionBlur)="onBlurUsernameInput()" [clearInput]="true"></ion-input>
                    <div *ngIf="hasError('username', 'required')" class="error-text text-red-600 text-sm pt-2 ps-1">
                      {{ TranslateKeys.VALIDATE_ACCOUNT_REQUIRED | translate }}
                    </div>

                    <!-- Gợi ý chọn tài khoản -->
                    <div *ngIf="filteredAccounts.length && showSuggestions && !hasError('username', 'required')" class="suggestions">
                      <ion-list lines="full">
                        <ion-item button *ngFor="let acc of filteredAccounts" (click)="selectUsername(acc)">
                          {{ acc.username }}
                        </ion-item>
                      </ion-list>
                    </div>
                  </ion-col>

                  <!-- Nhập mật khẩu -->
                  <ion-col size="12" class="pb-5" *ngIf="!(isEnableBiometric && biometricAvailable?.isAvailable && hasCredentials)">
                    <ion-label>{{ TranslateKeys.TITLE_PASSWORD | translate }}<span class="text-red-600 ps-1">*</span></ion-label>
                    <ion-input formControlName="password" type="password" inputmode="text"
                               class="input-password border border-solid border-[#6b7280] rounded">
                      <ion-input-password-toggle slot="end" color="medium"></ion-input-password-toggle>
                    </ion-input>
                    <div *ngIf="hasError('password', 'required')" class="error-text text-red-600 text-sm pt-2 ps-1">
                      {{ TranslateKeys.VALIDATE_PASS_REQUIRED | translate }}
                    </div>
                  </ion-col>

                  <!-- Chọn ghi nhớ đăng nhập -->
                  <ion-col size="12" class="pb-4" *ngIf="!(isEnableBiometric && biometricAvailable?.isAvailable && hasCredentials)">
                    <ion-checkbox mode="md" formControlName="remember" labelPlacement="end">
                      {{ TranslateKeys.TITLE_REMEMBER_ME | translate }}
                    </ion-checkbox>
                  </ion-col>

                  <!-- Nút submit form đăng nhập -->
                  <ion-col size="12">
                    <div class="flex items-center justify-between w-full">
                      <ion-button color="primary" type="submit" class="w-full" [appSoundClick]="true"
                                  *ngIf="!(isEnableBiometric && biometricAvailable?.isAvailable && hasCredentials)">
                        {{ TranslateKeys.TITLE_LOGIN | translate }}
                      </ion-button>

                      <!-- Đăng nhập bằng sinh trắc học-->
                      <ion-button color="primary" type="button" class="w-full" [appSoundClick]="true"
                                  *ngIf="isEnableBiometric && biometricAvailable?.isAvailable && hasCredentials" (click)="onClickLoginBiometric()">
                        <ion-img *ngIf="isFaceID" src="assets/icons/svg/face-id-svgrepo-com.svg" class="w-8 h-8"></ion-img>
                        <ion-img *ngIf="!isFaceID" src="assets/icons/svg/fingerprint-scan-svgrepo-com.svg" class="w-8 h-8"></ion-img>
                        <span class="pl-4">{{ TranslateKeys.TITLE_LOGIN | translate }}</span>
                      </ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ng-container>

    <!--  Phiên bản live update  -->
    <p class="absolute bottom-3 w-full text-center text-sm text-gray-500 font-normal italic">
      {{ TranslateKeys.COMMON_COPYRIGHT | translate }}. {{ TranslateKeys.TITLE_VERSION | translate }}: {{ appVersion }}<br>
    </p>
  </div>
</ion-content>
