<ion-header (pointerdown)="soundService.stopBackground()">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary" defaultHref="/{{PageRoutes.PROFILE}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ TranslateKeys.TITLE_NOTIFICATION_AND_SOUND | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-page-bg-light" [fullscreen]="true" (pointerdown)="soundService.stopBackground()">
  <!-- Thông báo   -->
  <ion-list class="my-2" *ngIf="notificationSettings">
    <ion-item detail="false">
      <ion-icon name="notifications-off" slot="start" class="text-xl text-gray-600 dark:text-gray-400" *ngIf="!notificationSettings.enabled"></ion-icon>
      <ion-icon name="notifications" slot="start" color="primary" class="text-xl" *ngIf="notificationSettings.enabled"></ion-icon>
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_NOTIFICATION | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="notificationSettings.enabled">{{ TranslateKeys.TITLE_ON | translate }}</span>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="!notificationSettings.enabled">{{ TranslateKeys.TITLE_OFF | translate }}</span>
      </ion-label>
      <ion-toggle mode="ios" slot="end" [enableOnOffLabels]="true"
                  (ionChange)="onSwitchNotificationEnable($event)"
                  [checked]="notificationSettings.enabled"></ion-toggle>
    </ion-item>

    <ion-item lines="none" detail="false" *ngIf="soundSettings">
      <ion-icon name="volume-high" slot="start" color="primary" class="text-xl" *ngIf="soundSettings?.enabled"></ion-icon>
      <ion-icon name="volume-mute" slot="start" color="danger" class="text-xl" *ngIf="!soundSettings?.enabled"></ion-icon>
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_SOUND_EFFECT | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="soundSettings.enabled">{{ TranslateKeys.TITLE_ON | translate }}</span>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="!soundSettings.enabled">{{ TranslateKeys.TITLE_OFF | translate }}</span>
      </ion-label>
      <ion-toggle mode="ios" slot="end" [enableOnOffLabels]="true"
                  (ionChange)="onSwitchSoundEnable($event)"
                  [checked]="soundSettings.enabled"></ion-toggle>
    </ion-item>
  </ion-list>

  <!--  Âm thanh nền  -->
  <ion-list class="my-2" *ngIf="soundSettings && soundSettings?.enabled">
    <ion-item detail="false">
      <ion-icon name="headset" slot="start" color="primary" class="text-xl"></ion-icon>
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_BACKGROUND_SOUND | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="soundSettings.background?.enabled">{{ TranslateKeys.TITLE_ON | translate }}</span>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="!soundSettings.background?.enabled">{{ TranslateKeys.TITLE_OFF | translate }}</span>
      </ion-label>
      <ion-toggle mode="ios" slot="end" [enableOnOffLabels]="true"
                  [checked]="soundSettings.background?.enabled" (ionChange)="onSwitchBackgroundEnable($event)"></ion-toggle>
    </ion-item>
    <ng-container *ngIf="soundSettings.background?.enabled">
      <!--   Âm lượng   -->
      <ion-item detail="false">
        <ion-icon name="volume-low" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-range labelPlacement="start" label="" [ticks]="true" [snaps]="true" [min]="0" [max]="1" [step]="0.1" class="py-2"
                   [value]="soundSettings.background?.volume || 0.5" (ionChange)="onChangeBackgroundVolume($event)">
        </ion-range>
        <ion-icon name="volume-high" slot="end" color="primary" class="text-xl"></ion-icon>
      </ion-item>
      <!--   Nhạc chuông   -->
      <ion-item lines="none" detail="false" (click)="onSwitchBackgroundMusic()">
        <ion-icon name="musical-notes" slot="start" color="primary" class="text-xl"></ion-icon>
        <ion-label class="py-2 italic text-gray-800 dark:text-gray-50"> {{ soundSettings?.background?.sound?.name }}</ion-label>
        <ion-icon name="chevron-forward" slot="end" class="text-base"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
