<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary" defaultHref="{{PageRoutes.PROFILE}}/{{PageRoutes.ACCOUNT_AND_SECURITY}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ TranslateKeys.TITLE_LOCK_APP | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-page-bg-light" [fullscreen]="true">
  <ion-list class="my-2">
    <!--  Bật/tắt khóa ứng dụng  -->
    <ion-item detail="false">
      <ion-label class="py-2">
        {{ TranslateKeys.TITLE_SETUP_LOCK_APP_PIN | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400">
          {{ (isAppLockEnabled ? TranslateKeys.TITLE_ON : TranslateKeys.TITLE_OFF) | translate }}
        </span>
      </ion-label>
      <ion-toggle mode="ios" slot="end" [enableOnOffLabels]="true"
                  [checked]="isAppLockEnabled" (ionChange)="toggleAppLock($event)">
      </ion-toggle>
    </ion-item>

    <!--  Đổi mã khóa  -->
    <ion-item detail="false" [disabled]="!isAppLockEnabled" (click)="openChangePIN()">
      <ion-label class="py-2" [class.text-gray-400]="!isAppLockEnabled">
        {{ TranslateKeys.TITLE_CHANGE_LOCK_APP_PIN | translate }}
      </ion-label>
      <ion-icon name="chevron-forward" slot="end" class="text-base" [class.text-gray-400]="!isAppLockEnabled"></ion-icon>
    </ion-item>

    <!--  Tự động khóa  -->
    <ion-item detail="false" [disabled]="!isAppLockEnabled" (click)="openAutoLockSettings()">
      <ion-label class="py-2" [class.text-gray-400]="!isAppLockEnabled">
        {{ TranslateKeys.TITLE_AUTO_LOCK_APP | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="isAppLockEnabled">
          {{ autoLockLabel }}
        </span>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end" class="text-base" [class.text-gray-400]="!isAppLockEnabled"></ion-icon>
    </ion-item>

    <!--  Mở khóa bằng sinh trắc học  -->
    <ion-item detail="false" [disabled]="!isAppLockEnabled" *ngIf="biometricAvailable?.isAvailable">
      <ion-label class="py-2" [class.text-gray-400]="!isAppLockEnabled">
        {{ TranslateKeys.TITLE_UNLOCK_APP_BIOMETRIC | translate }}<br>
        <span class="text-sm text-gray-500 italic dark:text-gray-400" *ngIf="isAppLockEnabled">
          {{ (isBiometricEnabled ? TranslateKeys.TITLE_ON : TranslateKeys.TITLE_OFF) | translate }}
        </span>
      </ion-label>
      <ion-toggle mode="ios" slot="end" [enableOnOffLabels]="true"
                  [disabled]="!isAppLockEnabled" [checked]="isBiometricEnabled" (ionChange)="toggleBiometricUnlock($event)">
      </ion-toggle>
    </ion-item>

    <ion-item detail="false" lines="none">
      <ion-label class="pt-3 pb-2 italic">
        {{ TranslateKeys.WARNING_APP_LOCK | translate }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
