<ion-content [class.loading]="isLoading">
  <ion-spinner *ngIf="isLoading" name="crescent" class="loading-spinner"></ion-spinner>
  <div class="task-container">
    <div class="task-header">
      <div class="w-[45%]">
        <h1 class="task-title">{{ task?.name }}</h1>
        <p class="task-subtitle">{{ TranslateKeys.TASK_SUBTITLE | translate }}</p>
      </div>
      <div class="owl-character">
        <img src="assets/images/owl.png" alt="Owl character">
      </div>
    </div>

    <!-- Questions -->
    <div class="questions-container">
      <!-- Dynamic Questions -->
      <div class="question-item" *ngFor="let question of task?.questions; let qIndex = index">
        <p class="question-text">{{ qIndex + 1 }}. {{ question.text }}</p>
        <div class="options-container">
          <ion-radio-group [value]="getSelectedOptionIndex(question)" (ionChange)="selectOption(qIndex, $event)">
            <ion-item lines="none" *ngFor="let option of question.options; let oIndex = index"
                      class="option-item"
                      [class.selected-item]="option.selected"
                      (click)="selectOption(qIndex, {detail: {value: oIndex}})">
              <ion-radio slot="start"
                         [value]="oIndex"></ion-radio>
              <ion-label>{{ option.text }}</ion-label>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>
    </div>

    <!-- Complete button -->
    <div class="complete-button-container">
      <ion-button fill="outline" expand="block" class="complete-button" (click)="completeTask()">
        {{ TranslateKeys.BUTTON_COMPLETE | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>

