<app-header
  [pageTitle]="TranslateKeys.TITLE_FRIENDS"
  backgroundColor="linear-gradient(to right, #0a1f5c, #4a2a8c)"
  [animeImage]="animeImage">
</app-header>

<ion-content [fullscreen]="true">
  <div class="flex items-center justify-center w-full h-full">
    <div class="block w-full h-auto ion-padding-start ion-padding-end">
      <ion-row>
        <ion-col size="6" class="ion-text-center m-auto">
          <ion-img [src]="friend?.avatar" [alt]="friend?.name" class="w-full h-auto"></ion-img>
          <p class="text-center font-bold text-lg text-teal-500 italic mt-2">{{ friend?.name }}</p>
        </ion-col>
        <ion-col size="6" class="my-auto">
          <div class="mb-4 rounded-lg border border-gray-300 shadow-sm">
            <div class="flex items-center p-4 px-4 gap-1">
              <ion-img src="/assets/icons/svg/ico_top_achievement.svg" class="w-9 h-9 pr-2"></ion-img>
              <div>
                <div class="text-xl font-bold text-green-500 leading-none">{{ friend?.achievements }}</div>
                <div class="text-sm text-gray-500 font-semibold leading-none">{{ TranslateKeys.TITLE_BADGES | translate }}</div>
              </div>
            </div>
          </div>
          <div class="mb-4 rounded-lg border border-gray-300  shadow-sm">
            <div class="flex items-center p-4 px-4 gap-1">
              <ion-img src="/assets/icons/svg/ico_top_rank.svg" class="w-9 h-9 pr-2"></ion-img>
              <div>
                <div class="text-xl font-bold text-green-500 leading-none">{{ friend?.rank }}</div>
                <div class="text-sm text-gray-500 font-semibold leading-none">{{ TranslateKeys.TITLE_RANK | translate }}</div>
              </div>
            </div>
          </div>
          <div class="mb-4 rounded-lg border border-gray-300  shadow-sm">
            <div class="flex items-center p-4 px-4 gap-1">
              <ion-img src="/assets/icons/svg/ico_top_mission.svg" class="w-9 h-9 pr-2"></ion-img>
              <div>
                <div class="text-xl font-bold text-green-500 leading-none">{{ friend?.friendshipLevel }}</div>
                <div class="text-sm text-gray-500 font-semibold leading-none">{{ TranslateKeys.TITLE_MISSIONS | translate }}</div>
              </div>
            </div>
          </div>
          <div class="mb-4 rounded-lg border border-gray-300  shadow-sm">
            <div class="flex items-center p-4 px-4 gap-1">
              <ion-img src="/assets/icons/svg/ico_top_friendly.svg" class="w-9 h-9 pr-2"></ion-img>
              <div>
                <div class="text-xl font-bold text-green-500 leading-none">{{ friend?.likeCount }}</div>
                <div class="text-sm text-gray-500 font-semibold leading-none">{{ TranslateKeys.TITLE_FRIENDLY | translate }}</div>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col size="12" class="mt-5 ion-text-center">
          <ion-button color="danger" class="w-3/5 uppercase" (click)="unfriend()">
            {{ TranslateKeys.TITLE_UNFRIEND | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
